.root {
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
}

.root:not(:first-child) {
  margin-left: 25px;
}

.icon {
  height: 24px;
  width: 24px;
}

.label {
  color: #2887d8;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 5px;
}
