.root {
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  width: 100%;
}

.buttons {
  align-items: center;
  display: flex;
}
