.root {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: calc(141px / 3);
  width: calc(548px / 3);
}

.menuContainer {
  flex-grow: 1;
  justify-content: flex-end;
  margin-left: 48px;
  overflow: hidden;
}

.menu {
  display: flex;
  font-weight: 500;
}
